/* Start Global Variables */
:root {
  --main-transition: 0.3s;
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 50%);
  --paragraph-color: #777;
  --section-padding: 100px;
}
/* End Global Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* small screens */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992x) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: var(--paragraph-color);
  line-height: 1.5;
}
/* End Components */
/* Start Header */
header {
  position: absolute; /* to put the header in the front layer */
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 40px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 20px;
  z-index: -1;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width:768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header .container nav ul {
  display: flex;
}
/* menu in mobile view */
@media (max-width:767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  header .container nav li:hover a {
    padding-left: 20px;
  }
}
header .container nav ul a {
  display: block;
  padding: 40px 10px;
  color: white;
  text-decoration: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .container nav ul a.active,
header .container nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
header nav .form i:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.2);
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
  transition: var(--main-transition);
}
.landing .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  transform: translateY(-50%);
  padding: 50px;
  color: white;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width:767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 1.6;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
  font-size: 30px;
}
.landing .change-background:hover {
  transform: translateY(-50%) scale(1.2);
}
@media (max-width:767px) {
  .landing .change-background {
    display: none;
  }
}
.change-background:hover {
  cursor: pointer;
}
.fa-angle-left {
  left: 30px;
}
.fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .bullets li:hover {
  cursor: pointer;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Scroll To Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-color);
  transition: var(--main-transition);
  z-index: 100;
  animation: zigzig 2s infinite;
  border: 2px solid white;
}
@keyframes zigzig {
  0%,20%,50%,80%,100%{
    transform: translateY(0);
  }
  40%,60% {
    transform: translateY(-10px);
  }
}
.scroll-to-top i {
  color: white;
}
.scroll-to-top:hover {
  background-color: var(--main-color);
}
/* End Scroll To Top Button */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  grid-row-gap: 60px;
  grid-column-gap: 40px;
}
@media (max-width:767px) {
  .services .services-container {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  }
}
.services .srv {
  display: flex;
}
.services .srv i {
  margin-right: 50px;
}
@media (max-width:767px) {
  .services .srv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
  }
  .services .srv i {
    margin: 0 0 30px;
  }
}
.services .srv h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv p {
  line-height: 2;
  color: var(--paragraph-color);
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 100vh;
  background-image: url(../images/design-features.jpg);
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

}
.design .image,
.design .text {
  z-index: 2;
  position: relative;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
@media (max-width:767px) {
  .design .image {
    display: none;
  }
}
.design .text {
  padding: 50px;
  color: white;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text li {
  padding: 15px 0;
}
.design .text li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  color: white;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  margin-left: 10px;
  padding: 10px;
}
.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
.portfolio .images-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .images-container .box:hover .caption {
  bottom: 0;
}
.portfolio .images-container .box:hover {
  cursor: pointer;
}
.portfolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
@media (min-width:768px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}
@media (min-width:1199px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}
.portfolio .images-container .box img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
}
.portfolio .images-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  transition: var(--main-transition);
  bottom: -100%;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.portfolio .images-container .box .caption h4 {
  font-weight: bold;
  margin-bottom: 15px;
}
.portfolio .images-container .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  text-decoration: none;
  display: block;
  width: fit-content;
  color: white;
  background-color: var(--main-color);
  padding: 10px 15px;
  margin: 30px auto;
  text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  width: 100%;
  color: white;
  text-align: center;
}
.video .text h2 {
  margin: 0 0 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.video .text p {
  margin: 0 0 30px;
}
.video .text button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}
.video .text button:hover {
  cursor: pointer;
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  max-width: 100%;
  bottom: -120px;
  margin-top: -120px;
  left: -42px;
}
@media (max-width:767px) {
  .about img {
    margin-bottom: -40px;
    bottom: -40px;
    left: -21px;
  }
}
/* End About */
/* Start Statistics */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
  /* flex: 1; */
}
@media (max-width:767px) {
  .stats .box {
    flex-basis: 100%;
  }
  .stats .box:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}
@media (min-width:768px) {
  .stats .box {
    flex-basis: 50%;
  }
}
@media (min-width:1200px) {
  .stats .box {
    flex-basis: 25%;
  }
}
.stats .box i {
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.stats .box p {
  font-size: 14px;
}
/* End Statistics */
/* START Our Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width:992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: var(--paragraph-color);
  line-height: 1.8;
  text-align: center;
  margin-bottom: 30px;
}
.our-skills .container .box {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.our-skills .container .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 30px;
}
@media (max-width:767px) {
  .our-skills .container .box {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .our-skills .container .box img {
    margin-bottom: 30px;
  }
}
.our-skills .testimonials .box .text {
  line-height: 2;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .box .text p {
  text-align: right;
  font-size: 14px;
  color: var(--paragraph-color);
  margin-bottom: 10px;
}
.testimonials {
  position: relative;
}
.testimonials .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.testimonials .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid var(--paragraph-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .bullets li:hover {
  cursor: pointer;
}
.testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width:767px) {
  .skills {
    margin-top: 80px;
  }
}
.skills .prog-holder {
  margin-bottom: 40px;
}
.skills .prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
  border-radius: 6px;
}
.skills .prog-holder .prog span {
  background-color: var(--main-color);
  display: block;
  height: 100%;
  position: relative;
  border-radius: 6px;
}
.skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: black;
  font-size: 14px;
  width: 5px;
  height: 0px;
  right: -21px;
  top: -50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-color: black transparent transparent transparent;
  border-style: solid;
  top: -11px;
  right: -8px;
}
/* End Our Skills */
/* Start Quote */
.quotes {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.quotes::before {
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.quotes .container {
  display: block;
  position: relative;
}
.quotes q {
  position: relative;
  font-size: 30px;
  display: block;
  margin-bottom: 30px;
}
.quotes q::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 14px;
}
.quotes q::after {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: -10px;
    right: 270px;
    font-size: 14px;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plan {
  background-color: #f6f6f6;
  text-align: center;
  box-shadow: 0 0 5px #0000002e;
}
.pricing .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plan .head h3 {
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.pricing .plan .head span {
  position: relative;
  font-size: 60px;
  font-weight: 600;
}
.pricing .plan .head span::before {
  content: attr(price-lang);
  position: absolute;
  font-size: 30px;
  top: 0;
  left: -30px;
  font-weight: 400;

}
.pricing .plan .head span::after {
  content: "/Mo";
  position: absolute;
  font-size: 25px;
  bottom: 0;
  right: -55px;
}
.pricing .plan ul {
  font-size: 25px;
  border-bottom: 1px solid var(--main-color);
}
.pricing .plan ul li {
  padding: 30px 0;
}
.pricing .plan ul li:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plan .foot {
  padding: 50px 0;
  font-size: 20px;
}
.pricing .plan .foot a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px 20px;
}
.pricing .plan .foot a:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .contact-text {
  text-align: center;
  font-size: 20px;
  margin: 50px auto 20px;
}
.pricing .contact-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  padding: 20px 30px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--main-color);
}
.pricing .contact-link:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 40%);
}
.subscribe .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex  ;
  align-items: center;
  position: relative;
  flex-basis: 60%;
}
@media (max-width:767px) {
  .subscribe form {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width:768px) {
  .subscribe form {
    width: 80%;
    margin-bottom: 30px;
  }
}
@media (min-width:992px) {
  .subscribe form {
    width: 80%;
    margin-bottom: 0;
  }
}
.subscribe form i {
  position: absolute;
  left: 10px;
  font-size: 25px;
}
.subscribe form input[type="email"] {
  background: none;
  outline: none;
  border: 1px solid white;
  padding: 20px 20px 20px 60px;
  color: white;
  caret-color: var(--main-color);
  flex: 1;
}
.subscribe form input[type="submit"] {
  width: 130px;
  position: absolute;
  right: 1px;
  height: calc(100% - 2px);
  background-color: var(--main-color);
  border: none;
  color: white;
  text-transform: uppercase;
}
.subscribe form input[type="submit"]:hover {
  cursor: pointer;
}
.subscribe form input[type="email"]::placeholder {
  color: white;
}
.subscribe form input[type="email"]:focus {
  border: 1px solid var(--main-color);
}
@media (max-width:767px) {
  .subscribe form input[type="email"] {
    width: 100%;
  }
}
.subscribe p {
  flex-basis: 35%;
}
/* End Subscribe */
/* Start Contact Us */
.contact-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact-us .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:767px) {
  .contact-us .content {
    flex-direction: column;
    margin-top: -40px;
  }
}
.contact-us .content form {
  flex-basis: 70%;
}
.contact-us .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
  caret-color: var(--main-color);
}
.contact-us .content form .main-input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
.contact-us .content form textarea.main-input {
  height: 200px;
}
.contact-us .content form input[type="submit"] {
  background-color: var(--main-color);
  border: none;
  padding: 20px;
  color: white;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-us .content .info {
  flex-basis: 25%;
}
@media (max-width:767px) {
  .contact-us .content .info {
    order: -1;
    text-align: center;
  }
}
.contact-us .content .info h4 {
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.contact-us .content .info .phone {
  display: block;
  color: var(--paragraph-color);
  margin-bottom: 10px;
}
.contact-us .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width:767px) {
  .contact-us .content .info h4:nth-of-type(2) {
    margin-top: 40px;
  }
}
.contact-us .content .info address {
  color: var(--paragraph-color);
  line-height: 2;
}
@media (max-width:767px) {
  .contact-us .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact Us */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:first-of-type {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 0 auto;
}
.footer .social-icons i {
  padding: 15px;
  cursor: pointer;
}
.footer .social-icons i:hover {
  color: var(--main-color);
}
.footer .copyright {
  margin-top: 50px;
}
.footer .copyright span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */